
{%include "/cabecera.html"%}
      <div class="jumbotron">
        <h1 class="display-3">Bienvenidos</h1>
        <p class="lead">Somos una página que se especializa en el mejor fútbol de mundo</p>
        <hr class="my-2">
        <p>Grandes de Europa</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://memoriasdelfutbol.com/mejores-jugadores-historia-futbol-leyendas/" role="button">Más información</a>
        </p>
      </div>
  
{%include "/pie.html"%}
