{%include "GOATFUTBOOL [CODESPACES]/cabecera.html"%}

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Barcelona-sc-logo.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Barcelona</h4>
                    <p class="card-text">Una de las principales características del F. C. Barcelona es su carácter polideportivo.</p>
                    <p class="lead">
                         <a  class="btn btn-primary btn-lg" href="https://www.fcbarcelona.es/es/noticias/" role="button">Noticias</a>
                    </p>




                </div>
            </div>
         
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/10/Escudo_real_madrid_1941b.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Real Madrid</h4>
                    <p class="card-text">El Real Madrid Club de Fútbol ganador de 14 champions es una entidad polideportiva con sede en Madrid.</p>
                    <p class="lead">
                         <a  class="btn btn-primary btn-lg" href="https://www.realmadrid.com/futbol/noticias" role="button">Noticias</a>
                    </p>



                </div>
            </div>
            
            
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Bayern de Múnich</h4>
                    <p class="card-text">Fue fundado el veintisiete de febrero de 1900, es el club de fútbol más laureado en la historia de Alemania.</p>
                     
                    <p class="lead">
                        <a  class="btn btn-primary btn-lg" href="https://fcbayern.com/es/noticias" role="button">Noticias</a>
                    </p>





                </div>
            </div>
            
            
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Manchester_City_FC_badge.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Manchester City</h4>
                    <p class="card-text">El Manchester City Football Club de Inglaterra conocido como Manchester City juega en la Premier League.</p>
                     
                    <p class="lead">
                         <a  class="btn btn-primary btn-lg" href="https://www.mancity.com/news" role="button">Noticias</a>
                    </p>




                </div>
            </div>
            
            
        </div>
        
    </div>

    


  
{%include "GOATFUTBOOL [CODESPACES]/pie.html"%}
